.btn-collapse {
  background: none;
  border: none;
  cursor: pointer;
  .fas {
    position: relative;
    top: -2px;
  }
}

.header-btn {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.collapsed-content {
  margin-bottom: 30px;
  padding-left: 15px;
}

h4 {
  font-size: 1.35rem;
}

header {
  width: 100%;
  background-color: #cde3df;
  padding: 10px 10px 0 11px;
  margin-bottom: 17px;
}
