<section class="content-wrapper">
  <header class="display-flex">
    @if (!isSecondary()) {
      <h3 (click)="toggleCollapse()" class="header-btn">
        {{title()}}
      </h3>
    }

    @if (isSecondary()) {
      <h4 (click)="toggleCollapse()" class="header-btn">
        {{title()}}
      </h4>
    }

    <button type="button" class="btn-collapse" (click)="toggleCollapse()">
      <i class="fas"
         [ngClass]="{'fa-chevron-up': isCollapsed, 'fa-chevron-down': !isCollapsed}"
         aria-hidden="true"></i>
    </button>
  </header>

  <div class="collapsed-content">
    @if (isCollapsed) {
      <ng-content select="[sq-collapse-body]"></ng-content>
    }
  </div>
</section>
