.module-overview {
  ul li {
    display: flex;
    align-items: center;
  }

  .link-list-item {
    display: inline-block;
    margin-left: 10px;
  }

  .fa-external-link-square-alt {
    font-size: 15px;
    position: relative;
    top: -4px;
    left: 4px;
  }

  @media (max-width: 1100px) {
    .emphasis {
      display: block;
      margin-bottom: 10px;
    }

    ul li {
      display: block;
      padding-bottom: 25px;
    }

    .link-list-item {
      margin-left: 0;
      margin-right: 10px;
    }
  }
}
