<section class="section primary module-overview">
  <header>
    <h2>Overview:</h2>
  </header>
  <ul>
    <li>
      <span class="emphasis">
        NPM Package Name:
      </span>
      {{npmPackageName}}
    </li>
    <li>
      <span class="emphasis">
        Module Name:
      </span>
      {{moduleName}}
    </li>
    <li *ngIf="internallyDeclared && internallyDeclared.length > 0">
      <span class="emphasis">
        Internally Declared Modules:
      </span>
      <a *ngFor="let internalModule of internallyDeclared; let isLast = last;"
          href="javascript:;"
          class="link-list-item"
          (click)="scrollTo(internalModule.fragment)">
        {{internalModule.name}}<span *ngIf="!isLast">, </span>
      </a>
    </li>
    <li *ngIf="dependsOn && dependsOn.length > 0">
      <span class="emphasis">
        Depends On:
      </span>
      <a *ngFor="let dependency of dependsOn; let isLast = last;"
         class="link-list-item"
         routerLink="{{dependency.routeLink}}">
        {{dependency.name}}<span *ngIf="!isLast">, </span>
      </a>
    </li>
    <li *ngIf="exports && exports.length > 0">
      <span class="emphasis">
        Exports:
      </span>

      <ng-container *ngFor="let exportedModule of exports; let isLast = last;">
        <ng-container
          *ngIf="exportedModule.fragment; then fragmentLink; else externalLink">
        </ng-container>

        <ng-template #externalLink>
          <a class="link-list-item"
             routerLink="{{exportedModule.routeLink}}">
            {{exportedModule.name}}<span *ngIf="!isLast">, </span>
          </a>
        </ng-template>

        <ng-template #fragmentLink>
          <a href="javascript:;"
             class="link-list-item"
             (click)="scrollTo(exportedModule.fragment)">
            {{exportedModule.name}}<span *ngIf="!isLast">, </span>
          </a>
        </ng-template>
      </ng-container>
    </li>
    <li *ngIf="docs && docs.length > 0">
      <span class="emphasis">
        Documentation:
      </span>
      <a *ngFor="let doc of docs; let isLast = last;"
         target="_blank"
         class="link-list-item"
         [href]="doc.routeLink">{{doc.name}}<span *ngIf="!isLast">, </span>
        <i class="fa fa-external-link" aria-hidden="true"></i>
      </a>
    </li>
    <li *ngIf="liveExamples && liveExamples.length > 0">
      <span class="emphasis">
        Live Example:
      </span>
      <a *ngFor="let example of liveExamples; let isLast = last;"
         target="_blank"
         class="link-list-item"
         [href]="example.routeLink">
        {{example.name}}<span *ngIf="!isLast">, </span>
        <i class="fa fa-external-link" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</section>
