<div class="sq">
  <h1>
    <img src="assets/logo.png" alt="SQ-UI logo">
  </h1>

  <section id="intro" class="module">
    <header>
      <h2>Introduction</h2>
    </header>

    <p>
      This app is a preview of the default SQ-UI theme. The UI-kit comes with it but including it into your own app is optional.
      In case you would like to use this theme, you can do one of the following things:
    </p>

    <ul>
      <li>put the sq-ui-theme.scss file in the "styles" array in your angular.json file</li>
      <li>reference the sq-ui-theme.scss file in your main stylesheet (if you're using sass)</li>
    </ul>

    <p>After including the stylesheet, you can use the theme by adding "sq" as a class to the container of your app.</p>

    <p>
      The font used in this preview is "Quicksand" and is applied using the Google Fonts API. The SQ-UI theme does not come with
      it and does not have a default font set.
    </p>
  </section>

  <section id="formElementsModule" class="module">
    <header>
      <h2>FormElementsModule</h2>
    </header>

    <p>
      The preview is built using the Reactive approach. The Submit button becomes enabled when all the required fields are filled
      in. The final input values are console logged on click on the Submit button.
    </p>

    <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
      <section id="sqInput">
        <header>
          <h3>sq-inut</h3>
        </header>

        <sq-input formControlName="name" controlLabel="Test Label*" controlPlaceholder="Test placeholder" type="text">
        </sq-input>
      </section>

      <section id="sqDropdown">
        <header>
          <h3>sq-dropdown</h3>
        </header>

        <sq-dropdown formControlName="dropdown" [options]="dropdownOptions" controlLabel="Dropdown Example*" controlPlaceholder="Select an option">
        </sq-dropdown>
      </section>

      <section id="sqTagsInput">
        <header>
          <h3>sq-tags-input</h3>
        </header>

        <sq-tags-input formControlName="tags" controlLabel="Tags*" controlPlaceholder="Type something and press Space">
        </sq-tags-input>
      </section>

      <section id="sqTypeahead1">
        <header>
          <h3>sq-typeahead with array of object</h3>
        </header>

        <sq-typeahead name="typeahead1" displayProp="label" multiple="true" formControlName="typeahead1" [searchResults]="searchResults"
          (onUserInputEnd)="searchMethod($event)" controlLabel="Typeahead*" controlPlaceholder="Type something in">
        </sq-typeahead>
      </section>

      <section id="sqTypeahead2">
        <header>
          <h3>sq-typeahead with array of strings</h3>
        </header>

        <sq-typeahead name="typeahead2" multiple="true" formControlName="typeahead2" [searchResults]="searchResultsStrings" (onUserInputEnd)="searchMethodString($event)"
          controlLabel="Typeahead*" controlPlaceholder="Type something in">
        </sq-typeahead>
      </section>

      <section id="sqCheckbox">
        <header>
          <h3>sq-checkbox</h3>
        </header>

        <sq-checkbox controlLabel="Test checkbox" formControlName="checkboxValue">
        </sq-checkbox>
      </section>

      <section id="sqRadioAndFormGroup">
        <header>
          <h3>sq-radiobutton + sq-form-group</h3>
        </header>

        <sq-form-group groupLabel="Radiobuttons Form Group example">
          <div class="options row">
            <sq-radiobutton name="group1" radioValue="value1" [isSelected]="true" formControlName="radioValue">
            </sq-radiobutton>

            <sq-radiobutton name="group1" radioValue="value2" formControlName="radioValue">
            </sq-radiobutton>

            <sq-radiobutton name="group1" radioValue="value3" formControlName="radioValue">
            </sq-radiobutton>
          </div>
        </sq-form-group>
      </section>


      <sq-button [disabled]="testForm.invalid" type="submit">Submit</sq-button>
    </form>
  </section>

  <section id="sqModal" class="module">
    <header>
      <h2>ModalModule</h2>
    </header>

    <sq-button (click)="showModal=!showModal">Toggle modal</sq-button>

    <sq-modal [(show)]="showModal">
      <div sq-modal-title>
        <strong>Modal title</strong>
      </div>

      <div sq-modal-body>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi harum natus quidem recusandae voluptatibus. Animi architecto
        dolor est et in laborum neque, nisi non nulla, sunt totam velit vero voluptatibus.
      </div>

      <div sq-modal-footer>
        <button type="button">
          <span class="inner">Yes</span>
        </button>

        <button type="button">
          <span class="inner">No</span>
        </button>
      </div>
    </sq-modal>
  </section>
</div>
