<div>
  <div class="mobile-nav">
    <button type="button" class="hamburger" (click)="showNav()">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
  </div>

  <div class="tint" [ngClass]="{'display-none': !isNavOpen }"></div>

  <nav class="app-nav"
       #nav
       sqOutsideClickListener
       [listenForOutsideClick]="listenForOutsideClick"
       (clickOutside)="onClickOutsideComponent()">
    <button type="button" class="close-btn" (click)="onClickOutsideComponent()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>

    <div class="nav-item info">
      <img src="assets/logo-alt.png" alt="Simple Quality UI" class="logo">
    </div>

    <a class="nav-item"
       *ngFor="let navItem of navItems"
       routerLinkActive="active"
       (click)="navigateTo($event, navItem.routeLink)">
      {{navItem.name}}
    </a>
  </nav>
</div>
