<div>
  <div class="mobile-nav">
    <div class="display-flex space-between nav-items">
      <button type="button" class="hamburger" (click)="showNav()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>

      <div class="github">
        <span class="gh-btn">
            <a class="github-button" href="https://github.com/sq-ui/ng-sq-ui" data-size="large" data-show-count="true" aria-label="Star sq-ui/ng-sq-ui on GitHub">Star</a>
          </span>
        <span class="gh-btn">
            <a class="github-button" href="https://github.com/sq-ui/ng-sq-ui/issues" data-size="large" data-show-count="true" aria-label="Issue sq-ui/ng-sq-ui on GitHub">Issue</a>
          </span>
        <span class="gh-btn">
            <a class="github-button" href="https://github.com/sq-ui/ng-sq-ui/subscription" data-size="large" data-show-count="true" aria-label="Watch sq-ui/ng-sq-ui on GitHub">Watch</a>
        </span>
      </div>
    </div>
  </div>

  <div class="tint" [ngClass]="{'display-none': !isNavOpen }"></div>


    <nav class="app-nav"
         #nav
         sqOutsideClickListener
         [listenForOutsideClick]="listenForOutsideClick"
         (clickOutside)="onClickOutsideComponent()">
      <button type="button" class="close-btn" (click)="onClickOutsideComponent()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>

      <div class="nav-item info">
        <img src="assets/logo-alt.png" alt="Simple Quality UI" class="logo">
      </div>

      <div class="display-flex space-between nav-items">
        <div>
          <a class="nav-item"
             *ngFor="let navItem of navItems"
             routerLinkActive="active"
             routerLink="{{navItem.routeLink}}"
             (click)="navigateTo($event, navItem.routeLink)">
            {{navItem.name}}
          </a>
        </div>

        <div class="github">
          <span class="gh-btn">
            <a class="github-button" href="https://github.com/sq-ui/ng-sq-ui" data-size="large" data-show-count="true" aria-label="Star sq-ui/ng-sq-ui on GitHub">Star</a>
          </span>
          <span class="gh-btn">
            <a class="github-button" href="https://github.com/sq-ui/ng-sq-ui/issues" data-size="large" data-show-count="true" aria-label="Issue sq-ui/ng-sq-ui on GitHub">Issue</a>
          </span>
          <span class="gh-btn">
            <a class="github-button" href="https://github.com/sq-ui/ng-sq-ui/subscription" data-size="large" data-show-count="true" aria-label="Watch sq-ui/ng-sq-ui on GitHub">Watch</a>
          </span>
        </div>
      </div>
    </nav>
</div>
