$primary-theme-color: rgba(46, 159, 134, 0.69);
$secondary-theme-color: rgba(18, 125, 104, 0.21);

.app-nav, .mobile-nav {
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  padding: 0 20px;
  align-items: center;
  background-color: #cde3df;
}

.mobile-nav {
  display: none;
  position: fixed;
}

.gh-btn {
  margin-right: 7px;
}

.app-nav {
  position: relative;
}

.close-btn {
  display: none;
  position: absolute;
  top: 10px;
  left: 17px;
  background-color: transparent;
  border: 0;
  font-size: 30px;
}

.app-nav {
  .nav-item {
    position: relative;
    margin-right: 24px;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    &:not(.info)::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -2px;
      width: 100%;
      height: 3px;
      background-color: transparent;
      transition: all 0.2s ease-in;
    }
    &:not(.info):hover, &.active  {
      color: #250202;
      &::after {
        color: #250202;
        background-color: $primary-theme-color;
      }
    }
  }
}

.display-none {
  display: none !important;
}

.tint {
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.43);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

@media (max-width: 1100px) {
  .mobile-nav {
    display: flex;
    height: 70px;

    .hamburger {
      background-color: transparent;
      border: 0;
      font-size: 33px;
    }
  }
  .close-btn {
    display: block;
  }
  .app-nav {
    flex-direction: column;
    width: 400px;
    height: 100vh;
    position: fixed;
    z-index: 11;
    left: -400px;
    background-color: rgb(205, 227, 223);
    transition: left 0.3s ease-in;
    .nav-item {
      display: block;
      text-align: center;
      font-size: 18px;
      margin-right: 0;
      margin-bottom: 20px;
    }
    .logo {
      margin-top: 20px;
      margin-right: 0;
    }
    &.show {
      left: 0;
    }
    .nav-items {
      flex-direction:  column;
    }
    .github {
      display: none;
    }
  }

  .logo {
    width: 200px;
  }
}

@media (max-width: 450px) {
  .app-nav {
    width: 100%;
    left: -100%;
  }

  .github {
    display: none;
  }
}
