.custom {
  &.dropdown-option {
    cursor: pointer;
    color:#4f6d8c;
    max-width: 350px;
    padding-bottom: 3px;
    padding-top: 10px;
    &::before {
      content: '⮞';
    }
  }
  &.dropdown-option-selected {
    background-color: #ffe8ea;
    padding: 6px 5px;
  }
  &.tag {
    background-color: #4f6d8c;
    color: #fffefe;
    padding: 3px;
    border-radius: 10px 5px;
    margin-right: 10px;
    .button {
      position: relative;
      top: 2px;
    }
  }
}

.content {
  padding-bottom: 20px;
}