<section>
  <section class="section primary">
    <header>
      <h2>Introduction:</h2>
    </header>

    <section class="mg-b50">
      <header>
        <h3>Another UI-kit? How is it different?</h3>

        <p>
          You've guessed right, folks - ng-sq-ui IS yet another UI-kit. The intention behind it is to help Angular developers with their day-to-day work by trying to offer a solution to the most widespread use-cases they have to handle. Without being too opinionated on looks and without containing dozen of just "fancy" features. This, with almost no additional dependencies. How cool is that?
        </p>
      </header>
    </section>

    <section class="mg-b50">
      <header>
        <h3>How do you determine the "most widespread" cases?</h3>

        <p>
          When we thought about what an initial version of the UI-kit should have, we decided to simply ask other developers. We handed out a Google form to different groups (Facebook groups and colleagues, included) and asked them what they mostly look for when dealing with UI development. The most voted answer was "form elements", and right after that - "modal dialogs". And these two types of components are included in our first version of the kit.

          We intend to keep the original idea of the UI-kit. We would like to ask the developers what they need most for our next release! Don't hesitate to create a feature request!
        </p>
      </header>
    </section>

    <section class="mg-b50">
      <header>
        <h3>How do I navigate the live examples?</h3>

        <p>
          All of the live examples are separated into different routes. Each of the links
          in the navigation denotes a standalone module with all of the items it exports.
        </p>
      </header>
    </section>

    <section class="mg-b50">
      <header>
        <h3>Contribution</h3>

        <p>
          Want to file a <a href="http://bit.ly/ng-sq-ui-bug-report" target="_blank">bug</a> / <a href="http://bit.ly/ng-sq-ui-request-feature" target="_blank">request feature</a>, 
          contribute some code, or improve documentation? Read up on our <a href="https://github.com/SQ-UI/ng-sq-ui/blob/master/CONTRIBUTING.md" target="_blank">Contributing Guide</a> 
          before making a pull request.
        </p>
      </header>
    </section>
  </section>
</section>
