@import '../projects/ng-sq-ui/src/lib/sq-ui-theme';

body {
  font-family: 'Quicksand', sans-serif;
  padding: 15px 30px;
}

ul {
  font-size: 18px;
}

.module {
  padding: 20px 0;
  header h2 {
    border-bottom: 1px solid rgba(46, 159, 134, 0.69);
    padding: 3px 0 7px 10px;
    background-color: rgba(18,125,104,.21);
  }
}

form > section {
  padding-top: 15px;
}

.sq .datetime-picker {
  font-family: 'Nunito', sans-serif;
}

p {
  font-size: 18px;
  padding-bottom: 10px;
}
