@import '../projects/ng-sq-ui/src/lib/sq-ui-theme';

h2 {
  font-size: 1.9rem;
  margin-bottom: 5px;
}

.section {
  padding-bottom: 50px;
  &.primary > header {
    border-bottom: 2px solid rgba(46, 159, 134, 0.69);
    margin-bottom: 20px;
  }

}

form > section {
  padding-top: 15px;
}

.sq .datetime-picker {
  font-family: 'Nunito', sans-serif;
}

p {
  font-size: 18px;
  padding-bottom: 10px;
}

.mg-b50 {
  margin-bottom: 50px;
}

.mg-b20 {
  margin-bottom: 20px;
}
